* {
    margin: 0;
}

.body {background-image: url("images/pexels-markus-spiske-1089438.png");
}

.headerTop-Home {
    height: 10vh;
    background-color: black;
}

p {
    font-size: 40px;
    font-family: font-family: 'Open Sans', sans-serif;
}

.content-box{
    background-color: #6A1C23;
    color: white;
}
/* p,
h1{
    color:white;
    font-family: 'Open Sans', sans-serif;

} */

.flex {
    display:flex;
    padding:15px;
}

.Left {
    align-self:flex-start;
    width:75%;
    /* height: 258px; */
}

.Left img {
    width:25%;
    height:
}

.thir {
    width:30%
}

.Left h3 {
    font-style:italic;
}

a {
    color:black;
    text-decoration: none;
}

.vh45 {
height: 45vh;
}

.InfoR {
    width: 55%;
}

h2 {
    margin-left: 50px;
    font-size: 70px;
}

.RowFlex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}