.body {background-image: url("images/pexels-markus-spiske-1089438.png");
}

.p {
    font-family: font-family: 'Open Sans', sans-serif;
}

.content-box{
    background-color: #6A1C23;
}
/* p,
h1{
    color:white;
    font-family: 'Open Sans', sans-serif;

} */

.flex {
    display:flex;
    padding:15px;
}

.Left {
    align-self:flex-start;
    width:75%;
    /* height: 258px; */
}

.Left img {
    width:25%;
    height:
}

.thir {
    width:30%
}

.Left h3 {
    font-style:italic;
}

a {
    color:black;
    text-decoration: none;
}